.panel{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 25px;
    z-index: 1;
}

.bg::after  {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
  }

.bg {
    position:absolute;
    width:100%;
    height:100%;
}

.contianer {
    height: 100vh;
}